<div class="container-fluid">
    <div class="container">
        <div class="row chat-window col-md-12" id="chat_window_1" style="margin-left:10px;">
            <div class="col-xs-12 offset-xs-0 col-md-10 offset-md-1">
                <div class="panel panel-default">
                    <div class="panel-heading top-bar">
                        <div class="container-fluid">
                            <h3 class="panel-title">Hiip demo chat application</h3>
                        </div>
                    </div>
                    <div id="messages-wrapper" class="panel-body msg_container_base">
                        <div *ngFor="let message of messages" class="row msg_container base_sent">
                            <div class="col-md-10 col-xs-10">
                                <div class="messages msg_sent">
                                    <p>{{ message.content }}</p>
                                    <time>{{ message.userCreated.name || 'user' }} • {{ message.timeFromNow }}</time>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-2 avatar">
                                <img src="assets/images/user-icon.png" class=" img-responsive ">
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="btn-input" [(ngModel)]="content" type="text" class="form-control input-sm chat_input"
                                (keyup.enter)="sendMessage(content)"
                                placeholder="Nhập tin nhắn..." />
                            <span class="input-group-btn">
                                <button
                                    (click)="sendMessage(content)"
                                    class="btn btn-primary btn-sm" id="btn-chat">
                                    Gửi
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>